---
title: Home page
listed: false
published: true
cache_strategy: none
response_type: text/html
position: 0
---
<!DOCTYPE html>
<html lang="it">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>
      {{ titolo_pagina }} - {{ site.name }}
      | {% if page.seo_title %}{{ page.seo_title }}{% else %}{{ site.seo_title }}{% endif %}
    </title>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    {{ 'app.css' | stylesheet_tag }}
    {{ 'vendor/modernizr.js' | javascript_tag }}
  </head>
  <body>

<div class="contain-to-grid sticky">
<nav class="top-bar" data-topbar role="navigation" data-options="sticky_on: large">
  <ul class="title-area">
        <li class="name">
            <h1><a href="#top">{{ titolo_pagina }}</a></h1>
        </li>
     <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

    <section class="top-bar-section">
        <!-- Right Nav Section -->
        <ul class="right">
            <li><a href="#top">Prezzi</a></li>
            <li><a href="#documentazione">Documentazione</a></li>
            <li><a href="#comeOrdinare">Come Ordinare</a></li>
            <li><a href="#contatti">Contatti</a></li>
            <li><a href="#formOrdine">Ordina Online</a></li>
        </ul>
    </section>
</nav>
</div>

    <header>


            <div class="large-3 medium-3 small-6 columns end">
                <img alt="Defibrillatori Philips" src="https://lh3.googleusercontent.com/-g4HJf2yMKsE/U02kMhfilgI/AAAAAAAAl0E/KJAx2bDXdTk/w150-h44-no/logo_piccolo.png"/><br />
                <i>
                IREDEEM SRL<br />
                Via Cesare Boldrini 20<br />
                40121 Bologna<br />
                P.IVA: 10574970017</i><br />
            </div>

            <div class="large-3 medium-3 small-3 columns right">
                <i>
                    <h4>Preventivo</h4>
                    Codice: <strong>{{ codice_preventivo }}</strong><br />
                    Data: <strong>{{ data_preventivo }}</strong><br />
                    Validità: <strong>90 Giorni</strong>
                </i>
            </div>
    </header>





  <div class="row">



    <div class="large-12 columns">




      {% block main %}
      Palla
      {% endblock %}

    </div>




  </div>




  <footer class="row">
    <div class="large-12 columns">
      <hr/>
      <div class="row">
        <div class="large-3 columns">
          <img src="http://lh6.googleusercontent.com/-znUVyJZm73E/U3mY94YJ0WI/AAAAAAAAmRo/JR4IpRmwXHg/h61-no/distributore_ufficiale.png"/>
        </div>
        <div class="large-3 columns">
          <i>Preventivo {{ codice_preventivo }}</i>
        </div>
    </div>
  </footer>


    <!-- Javascripts -->
    {{ 'vendor/jquery.js' | javascript_tag }}
    {{ 'foundation.min.js' | javascript_tag }}
    {{ 'foundation/foundation.topbar.js' | javascript_tag }}
    <script>
        $(document).foundation({
            "magellan-expedition": {
                active_class: 'active', // specify the class used for active sections
                threshold: 0, // how many pixels until the magellan bar sticks, 0 = auto
                destination_threshold: 20, // pixels from the top of destination for it to be considered active
                throttle_delay: 50, // calculation throttling to increase framerate
                fixed_top: 0, // top distance in pixels assigned to the fixed element on scroll
            }

        });

    </script>
  </body>
</html>